*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #e5e5e5;
  --second-color: #14213d;
  --yellow-color: #fca311;
  --bg-color: #898989;
  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
}

html,
body {
  height: 100%;
  background-color: var(--bg-color);
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-icon {
  width: 12.5rem;
}

.wrapper-icon img {
  width: 100%;
}

.password-wrapper {
  max-width: 25rem;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  padding: 1.25rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.password-wrapper label {
  color: var(--main-color);
  font-size: var(--font-size-large);
  margin-bottom: 20px;
}

.password-wrapper .input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.password-wrapper .input-wrapper input {
  width: 19rem;
  height: 30px;
  padding: 5px 10px;
  background-color: var(--main-color);
  color: rgba(0, 0, 0, 0.8);
}

.password-wrapper .input-wrapper button.button-copy {
  background: var(--yellow-color);
  border: none;
  outline: none;
  padding: 3px 5px;
  border-top-right-radius: 5px;
}

.password-wrapper .input-wrapper i {
  font-size: var(--font-size-large);
  color: var(--second-color);
  vertical-align: sub;
  cursor: pointer;
  padding: 0 3px;
}

.password-wrapper button.generator-button {
  width: 12.5rem;
  padding: 10px;
  background: var(--yellow-color);
  border: none;
  border-radius: 10px;
  outline: none;
  color: var(--second-color);
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: var(--font-size-large);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.password-wrapper button.generator-button:hover {
  border: 1px solid #fff;
}

.password__options {
  display: flex;
  flex-direction: column;
  margin-top: var(--font-size-large);
}

.password__options select {
  min-width: 100px;
  width: 100%;
  padding: 8px;
}

.password__check {
  margin-top: var(--font-size-large);
  display: flex;
  justify-content: space-between;
}

.password__check li {
  list-style: none;
  color: white;
  font-size: var(--font-size-medium);
  padding: 2px;
}

#alert-message {
  margin-top: 20px;
  width: 19rem;
  background-color: var(--second-color);
}

#alert-message p {
  padding: 20px;
  color: var(--main-color);
  font-weight: bolder;
  text-align: center;
}

.disabled {
  display: none;
}
